@import "tailwindcss";

.signin-background::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: url("/images/signin-hero.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 1;
}

.signup-background::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: url("/images/signup-hero.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 1;
}

.jodit-wysiwyg ul,
.jodit-wysiwyg ol {
  list-style-position: inside;
  padding-left: 0em;
  margin-left: 0;
}

